.copy-popup {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.copy-popup-box {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 6px 10px;
  border-radius: 1rem;
  font-size: 1rem;
  font-weight: 500;
  animation: fadePopup 2s ease forwards;
}

@keyframes fadePopup {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  15% {
    opacity: 1;
    transform: scale(1);
  }
  85% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(0.9);
  }
}
