.google-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: 100%;
  background-color: #c4302b;
  color: #fff;
  padding: 6px 8px;
  border-radius: 4px;
  border: 1px solid #802020;
  cursor: pointer;
  transition: background-color 0.2s, border-color 0.2s;
}

.google-button:hover {
  background-color: #d43c33;
  border-color: #a03030;
}
