.submission {
    border: 1px #aaa solid;
    border-radius: 12px;
    box-sizing: border-box;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    text-align: left;
    transition: all 0.2s ease;
    gap: 0.5rem;
}

.submission:hover:not(:has(button:hover)) {
    background: #3a3a3a;
}

.submission-editing {
    border: 1px #aaa solid;
    border-radius: 12px;
    box-sizing: border-box;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    text-align: left;
    transition: all 0.2s ease;
    gap: 0.5rem;
}