.identity-select-trigger {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 192px;
    height: 192px;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 1rem;
}

.identity-select-trigger:hover {
    background-color: #555;
    border-radius: 4px;
    transition: background-color 0.2s, border-color 0.2s;
}

.identity-select-value {
    display: flex;
    align-items: center;
}

.identity-select-content {
    background: #1f1f1f;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0.5rem;
    width: 900px;
    max-height: 400px;
    z-index: 100;
    overflow-y: auto;
}

.identity-select-fade-bottom {
    position: sticky;
    bottom: 0;
    height: 24px;
    pointer-events: none;
    display: flex;
    justify-content: center;
    background: linear-gradient(to bottom, transparent, black);
}

.identity-select-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    max-width: 900px;
}

.identity-select-item {
    position: relative;
    padding: 6px;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    font-size: 1rem;
}

.identity-select-item:focus,
.identity-select-item:hover {
    background: #555;
    transition: background-color 0.2s, border-color 0.2s;
    outline: none;
}

.identity-item-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ego-select-trigger {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 40px;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 1rem;
}

.ego-select-trigger:hover {
    background-color: #555;
    border-radius: 4px;
    transition: background-color 0.2s, border-color 0.2s;
}

.ego-select-value {
    display: flex;
    align-items: center;
}

.ego-select-content {
    background: #1f1f1f;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-width: 900px;
    max-height: 400px;
    z-index: 100;
    overflow-y: auto;
}

.ego-select-fade-bottom {
    position: sticky;
    bottom: 0;
    height: 24px;
    pointer-events: none;
    display: flex;
    justify-content: center;
    background: linear-gradient(to bottom, transparent, black);
}

.ego-select-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    max-width: 900px;
}

.ego-select-item {
    position: relative;
    padding: 6px;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    font-size: 1rem;
}

.ego-select-item:focus,
.ego-select-item:hover {
    background: #555;
    transition: background-color 0.2s, border-color 0.2s;
    outline: none;
}

.ego-item-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}