.build-entry {
    position: relative;
    border: 2px #7c6a55 solid;
    border-radius: 12px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    background: #1c1a17;
    transition: all 0.2s ease;
    /* margin-top: 14px; */
    /* margin-left: 0px; */
}

.build-entry:hover:not(:has(.build-buttons-container > *:hover)) {
    background: #3a3a3a;
}

.build-entry-link {
    position: absolute;
    inset: 0;
    z-index: 1;
}

/* Horizontal version on top */
/* .build-icon-rails {
    display: flex;
    border: 2px #7c6a55 solid;
    border-radius: 14px;
    background: #101010;
    position: absolute;
    top: -16px;
    left: 8px;
    padding: 0 4px 0 4px;
}

.build-contents {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 6px;
    z-index: 2;
    pointer-events: none;
} */

.build-icon-rails {
    display: flex;
    flex-direction: column;
    border: 2px #7c6a55 solid;
    border-radius: 14px;
    background: #101010;
    position: absolute;
    top: 8px;
    left: -16px;
    padding: 4px 0 4px 0;
}

.build-contents {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 6px 2px 6px 18px;
    z-index: 2;
    pointer-events: none;
}

.build-title {
    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.build-buttons-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-top: 2px #7c6a55 dashed;
    background: #1c1a17;
    z-index: 2;
    height: 2.25rem;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.build-buttons-container > *:hover:not(.is-disabled) {
    background: #3a3a3a;
    transition: all 0.2s ease;
    cursor: pointer;
}

.build-buttons-container > .is-disabled {
  opacity: 0.5;
}
