.image-overlay-container {
    position: relative;
    width: 100%;
    aspect-ratio: 1 / 1;
    container-type: size;
}

.image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay-icon-wrapper img {
    position: absolute;
    top: 4px;
    left: 4px;

    height: 1rem;
    max-width: 72px;

    object-fit: contain;
    pointer-events: none;
}

.overlay-text {
    position: absolute;
    bottom: 4px;
    right: 4px;
    max-width: 100%;
    max-height: 70%;
    overflow: hidden;

    display: block;
    text-align: right;
    color: #ddd;
    font-weight: 600;
    line-height: 1.1;
    text-wrap: balance;

    /* text-shadow: 
    1px 1px 4px #000, 
    -1px 1px 4px #000, 
    1px -1px 4px #000, 
    -1px -1px 4px #000, 
    0px 0px 8px rgba(0, 0, 0, 0.5), 
    0px 0px 12px rgba(0, 0, 0, 0.25); */

    text-shadow:
        0 0 4px #000,
        0 0 12px #000,
        2px 2px 4px #000,
        -2px -2px 4px #000;

    font-size: clamp(0.6rem,
            calc(10cqw - (var(--len) * 0.02px)),
            1rem);
}

.overlay-text-banner {
    position: absolute;
    font-size: 0.75rem;
    color: #ddd;
    max-height: 100%;
    overflow: hidden;
    text-wrap: balance;
    text-align: center;

    /* text-shadow:
        1px 1px 4px #000,
        -1px 1px 4px #000,
        1px -1px 4px #000,
        -1px -1px 4px #000,
        0px 0px 8px rgba(0, 0, 0, 0.5),
        0px 0px 12px rgba(0, 0, 0, 0.25); */

    text-shadow:
        0 0 4px #000,
        0 0 12px #000,
        2px 2px 4px #000,
        -2px -2px 4px #000;
}