.clickable-ego {
    transition: all 0.2s ease;
}

.clickable-ego:hover {
    filter: brightness(1.3);
}

.clickable-ego-card {
    background: #1f1f1f;
    transition: all 0.2s ease;
}

.clickable-ego-card:hover {
    filter: brightness(1.3);
}

.clickable-table-row {
    background: #1f1f1f;
    transition: all 0.2s ease;
}

.clickable-table-row:hover {
    filter: brightness(1.3);
}

.toggle-text {
    font-weight: bold;
    font-size: 0.8rem;
    cursor: pointer;
}

.toggle-text:hover {
  filter: brightness(1.2);
}
